name: CI

on:
  push:
    tags: '*'
    branches:
      - main
      - 'test-me-*'
  pull_request:

env:
  TERM: xterm-256color

jobs:
  ci:
    runs-on: ubuntu-24.04
    env:
      WILD_VERSION: "0.8.0"
      WILD_SHA256SUM: "44ed25fff3657ca62c25a441e60861d4a4061b44c096b998699cc86fa596490b"
    steps:
      - name: checkout
        uses: actions/checkout@v5
        with:
          submodules: recursive
      - name: Install Rust nightly toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: nightly-2026-01-26
          components: rustc-codegen-cranelift
      - name: Install `wild`
        run: |
          wget https://github.com/davidlattimore/wild/releases/download/$WILD_VERSION/wild-linker-$WILD_VERSION-x86_64-unknown-linux-gnu.tar.gz
          sha256sum -c <<<"$WILD_SHA256SUM wild-linker-$WILD_VERSION-x86_64-unknown-linux-gnu.tar.gz"
          tar xzf wild-linker-$WILD_VERSION-x86_64-unknown-linux-gnu.tar.gz
      - name: Install `mold`
        uses: rui314/setup-mold@v1
        with:
          make-default: false
      - name: Install `lld`
        run: |
          sudo apt-get install lld
      - name: Install `cargo-insta`
        run: |
          curl -LsSf https://insta.rs/install.sh | sh
      - name: test
        run: |
          linkers=("ld" "ld.lld" "ld.gold" "mold" "./wild-linker-$WILD_VERSION-x86_64-unknown-linux-gnu/wild")
          for linker in "${linkers[@]}"; do
            export PANKO_COMPILETEST_USE_LINKER=$linker
            echo -e "\x1b1m\x1b[31mtesting with linker $PANKO_COMPILETEST_USE_LINKER\x1b[m"
            cargo insta test \
              --unreferenced=reject \
              -- \
              --color=always
          done
